$grey: rgb(242, 242, 242);
$grey-two: rgb(235, 235, 235);
$grey-three: rgb(234, 234, 234);
$pinkish-grey: rgb(186, 186, 186);
$white: rgb(255, 255, 255);
$green-leaf: rgb(104, 183, 56);
$green-grass: rgb(94, 170, 47);
$brown: rgb(68, 68, 68);
$black: rgb(34, 34, 34);
$black-two: rgb(17, 17, 17);
$grey-border: rgb(205, 205, 205);
$font-regular: "Oswald regular", arial, sans-serif;
$font-medium: "Oswald medium", arial, sans-serif;
$font-sans-serif: arial, sans-serif;
$tablet: 768px;
$desktop: 1300px;
$border: 1px solid $grey-border;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
$error: 2px solid rgb(255, 130, 130);
